rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Lock down all documents by default
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow users to only read and write their own profile document
    match /users/{userId} {
      allow read, update, create: if request.auth != null && request.auth.uid == userId;
    }
  }
}
